{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="widdiv=device-widdiv, initial-scale=1.0">
    <title>Поддержка Банк Центр Инвест</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="container">
<div>
    <h3>Все созданные собрания: {{ request.user | upper }}</h3>
    {% if message %}
        {{ message }}
    {% endif %}
    <div class="df">
        <div>Создатель</div>
        <div>Заглавие</div>
        <div>Присоединяйтесь</div>
        <a href="/accounts/onlinemeet/meeting/add/">Создать</a>
    </div>
    {% for meeting in meetings %}

        <div class="df">
        <div>{{ meeting.creator }}</div>
        <div>{{ meeting.title_of_meeting }}</div>
        <a href="{% url 'meeting' meeting.unique_meeting_name %}">Присоединяйтесь к собранию</a>
        <div><input type="hidden" name="meeting_{{ forloop.counter }}" id="{{ meeting.id }}"
                    value="https://meet.kulpinov.site{% url 'meeting' meeting.unique_meeting_name %}" id="meeting_link">
            <button onclick="myFunction('{{ meeting.id }}')">Скопировать ссылку</button>
        </div>
    {% endfor %}

    </div>

    <script>
        function myFunction(mid) {
            var copyText = document.getElementById(mid);
            navigator.clipboard.writeText(copyText.value);
        }
    </script>
</body>
</html>

